[submodule "sources_non_forked/jedi-vim"]
	path = sources_non_forked/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "sources_non_forked/tern_for_vim"]
	path = sources_non_forked/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
